.dashboard-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 335px;
  height: 100%;
  background-color: $dark-color;
  overflow-y: auto;
  z-index: 100;
  overflow-x: hidden;
  transition: all .5s ease-in-out;

  @media (max-width: $screen-lg-min) {
    width: 285px;
  }

  @media (max-width: $screen-sm-min) {
    width: 315px;
    height: 100vh;
  }

  @media (max-height: 414px) {
    height: 100%;
  }

  &.sidebar-sm {
    width: 80px;

    @media (max-width: $screen-sm-min) {
      width: 60px;
    }

    .heading {
      padding: 20px 0 30px 10px;

      @media (max-width: 1280px) {
        padding: 10px 0 10px 10px;
      }

      @media (max-width: $screen-sm-min) {
        padding: 20px 0 20px 10px;
      }

      a {
        .logo-lg {
          display: none;
        }

        .logo-sm {
          display: block;
          width: 45px;

          @media (max-width: $screen-sm-min) {
            width: 25px;
          }
        }

        &.sidebar-trigger {
          transform: rotate(180deg);

          @media (max-width: $screen-sm-min) {
            position: relative;
            top: 0;
          }
        }
      }
    }

    .sidebar-nav {
      padding: 0 0 0 10px;

      @media (max-width: $screen-sm-min) {
        padding: 0;
      }

      li {
        a {
          padding: 20px 23px;

          @media (max-width: 1366px) {
            padding: 14px 23px;
          }

          @media (max-width: $screen-sm-min) {
            padding: 14px 19px;
          }

          &.bottom-line {
            &:after {
              width: 35px;
            }
          }

          span {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }

  .heading {
    height: 99px;
    padding: 20px 30px 30px 60px;
    background-color: $dark-color;
    transition: all .5s ease-in-out;

    @media (max-width: 1280px) {
      height: 65px;
    }

    @media (max-width: 1280px) {
      padding: 10px 0 10px 10px;
    }

    @media (max-width: $screen-sm-min) {
      padding: 20px 0 20px 10px;
    }

    a {
      display: block;

      img {
        transition: all .5s ease-in-out;
      }

      .logo-lg {
        display: block;

        @media (max-width: $screen-sm-min) {
          width: 87px;
        }
      }

      .logo-sm {
        display: none;
      }

      &.sidebar-trigger {
        display: block;
        color: #fff;
        transition: all .5s ease-in-out;

        @media (max-width: $screen-sm-min) {
          position: relative;
          top: 7px;
        }

        i {
          font-size: 35px;
          line-height: 35px;

          @media (max-width: $screen-sm-min) {
            line-height: 22px;
          }
        }
      }
    }
  }

  .sidebar-nav {
    padding: 0 0 0 20px;
    margin: 0;
    list-style: none;
    transition: all .5s ease-in-out;

    li {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 40px;
        text-decoration: none;
        border-radius: 3px 0 0 3px;
        transition: all .5s ease-in-out;

        @media (max-width: $screen-sm-min) {
          border-radius: 0;
          padding: 14px 19px;
        }
        
        @media (max-width: 1366px) {
          padding: 14px 30px;
        }

        &.active {
          background-color: #fff;

          i, span {
            color: $dark-color;
          }
        }

        &:hover {
          i, span {
            color: $main-color;
          }
        }

        &.bottom-line {
          position: relative;
          margin-bottom: 30px;

          @media (max-width: 1366px) {
            margin-bottom: 13px;
          }
          
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -13px;
            left: 50%;
            transform: translateX(-50%);
            width: 250px;
            height: 1px;
            background-color: #3d4c59;
            transition: all .5s ease-in-out;
          }
        }

        i {
          color: #fff;
          font-size: 22px;
          line-height: 22px;
          margin-right: 15px;
          @include transition;
        }

        span {
          display: block;
          color: #fff;
          font-size: 16px;
          line-height: 18px;
          text-transform: uppercase;
          white-space: nowrap;
          @include transition;

          em {
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $main-color;
            text-align: center;
            font-size: 12px;
            line-height: 24px;
            color: $dark-color;
            font-style: normal;
            margin-left: 15px;
          }
        }
      }
    }
  }
}