.main-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 100;
  min-width: 320px;
  @include transition;

  &.darkHeader {
    background-color: $dark-color;
  }
}

.header-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: $screen-md-max) {
    padding: 0 15px;
  }
}

.logo {
  @media (max-width: $screen-md-min) {
    z-index: 100;
    width: 100px;
  }

  a {
    display: block;
    text-decoration: none;

    img {
      display: block;
      margin-bottom: 8px;
      width: 175px;
    }

    span {
      display: block;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      //font-weight: 600;
      text-transform: capitalize;

      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
  }
}

.main-nav {
  padding: 0 10px;

  @media (max-width: $screen-md-min) {
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: $dark-color;
    z-index: 10;
    padding: 58px 0 15px 0;
    transition: all .4s ease-in-out;

    &.show-nav {
      transform: translateX(0);
    }
  }

  ul {
    @include list-styles-reset;

    @media (max-width: $screen-md-min) {
      overflow: auto;
      height: 100%;
      padding: 0 15px;
      border-top: 1px solid #434f5b;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      position: relative;

      &:hover {
        .dropdown-submenu-wrapper {
          opacity: 1;
          visibility: visible;
        }

        > a, span {
          &:after {
            opacity: 1;
            visibility: visible;
            bottom: -7px;
          }
        }
      }

      @media (max-width: $screen-md-max) {
        margin: 0 5px;
      }

      @media (max-width: $screen-md-min) {
        display: block;
        margin: 0;
        padding: 10px 0;
      }

      &.active {
        a, span {
          color: $main-color;

          &:after {
            background-color: $main-color;
            opacity: 1;
            visibility: visible;
            bottom: -7px;
          }
        }
      }

      > a, span {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        cursor: pointer;

        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: #fff;
          position: absolute;
          bottom: -5px;
          left: 0;
          opacity: 0;
          visibility: hidden;
          @include transition;
        }
      }

      .dropdown-submenu-wrapper {
        position: absolute;
        top: 0;
        padding-top: 40px;
        left: 0;
        width: 100%;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        @include transition;

        .dropdown-submenu {
          background-color: #fff;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0 1px 5px 0 #ddd;

          a {
            display: block;
            padding: 10px;
            font-size: 14px;
            line-height: 16px;
            color: $dark-color;
            @include transition;

            &:hover, &.active {
              color: $main-color;
              background-color: #ebebeb;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.mobile-menu-button {
  display: none;
  width: 25px;
  height: 31px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  z-index: 10;

  @media (max-width: 320px) {
    margin-left: 10px;
  }

  &.active {
    span {
      &.line1 {
        top: 15px;
        transform: rotate(45deg);
      }

      &.line2 {
        opacity: 0;
        visibility: hidden;
        right: 10px;
      }

      &.line3 {
        bottom: 15px;
        width: 100%;
        transform: rotate(-45deg);
      }
    }
  }

  span {
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    @include transition;

    &.line1 {
      top: 7px;
    }

    &.line2 {
      top: 15px;
    }

    &.line3 {
      bottom: 6px;
      width: 25px;
    }
  }

  @media (max-width: $screen-md-min) {
    display: block;
  }
}

.header-buttons {
  padding-top: 5px;

  @media (max-width: $screen-md-min) {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    padding-top: 0;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    @include transition;

    &.button-login {
      border: 1px solid #fff;
      border-radius: 30px;
      padding: 11px 22px;
      margin-left: 15px;

      @media (max-width: $screen-md-max) {
        margin-left: 5px;
      }

      @media (max-width: $screen-sm-min) {
        margin-left: 15px;
      }

      @media (max-width: 320px) {
        margin-left: 5px;
      }

      &:hover, &.active {
        background-color: $main-color;
        border-color: $main-color;
      }
    }

    &.button-sign-up {
      &:hover, &.active {
        color: $main-color;
      }
    }
  }
}

.user-info {
  text-decoration: none;
  z-index: 10;

  &:hover {
    text-decoration: none;

    span, i {
      color: $main-color;
    }
  }

  i {
    display: block;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    @include transition;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    //font-weight: 700;
    @include transition;
  }
}