// mixins
@mixin transition {
  transition: all .2s linear;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin reset-position {
  position: inherit;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  transform: none;
}

@mixin list-styles-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

$screen-xl-min: 1200px;
$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 576px;

$screen-lg-max: 1199px;
$screen-md-max: 991px;
$screen-sm-max: 767px;

body {
  min-width: 320px;
  font-family: 'Titillium Web', sans-serif;
  color: #000;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;


  &.overflow-h {
    overflow: hidden;
  }

  &.modal-open {
    .main-header {
      .header-holder {
        padding-right: 15px;

        @media (max-width: $screen-sm-max) {
          padding-right: 0;
        }
      }
    }
  }
}

// colors
$main-color: #00b3b7;
$dark-color: #203140;
.main-color {
  color: #00b3b7;
}
.dark-color {
  color: #203140;
}
.white-color {
  color: #fff;
}

.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    display: block;
  }
}

main {
  flex: 1;
  margin-top: 91px;
  position: relative;

  @media (max-width: $screen-md-max) {
    margin-top: 77px;
  }

  @media (max-width: $screen-md-min) {
    margin-top: 59px;
  }

  &.top-gradient {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 55px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.001));
    }
  }
}

.wrapper {
  width: 820px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 820px) {
    width: 100%;
  }
}

.btn-repeat {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  //font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  @include transition;

  &.darkHover {
    &:hover {
      border-color: $dark-color;
      background-color: $dark-color;
    }
  }

  &.gray {
    border-color: #959595;
    color: #959595;

    &:hover {
      background-color: $main-color;
      border-color: $main-color;
    }
  }

  &.green {
    border-color: $main-color;
    color: $main-color;
  }

  &.dark {
    border-color: $dark-color;
    color: $dark-color;

    &:hover {
      background-color: $dark-color;
      border-color: $dark-color;
    }
  }

  &:hover {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
    text-decoration: none;
  }

  &.dashboard-btn {
    border-radius: 5px;
    background-color: $main-color;
    border-color: $main-color;
    min-width: 100px;
    text-align: center;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 18px;
    margin: 15px 0 0 0;

    &:hover {
      background-color: $dark-color;
      border-color: $dark-color;
    }
  }
}

.repeat-heading {
  width: 520px;
  margin: 0 auto 50px auto;
  text-align: center;

  @media (max-width: 520px) {
    width: 100%;
  }

  &.repeat-heading-dark {
    span {
      color: $dark-color;

      &:after {
        background-color: $dark-color;
      }
    }
  }

  span {
    display: block;
    font-size: 40px;
    line-height: 42px;
    color: #fff;
    //font-weight: 700;
    text-transform: uppercase;
    position: relative;

    @media (max-width: $screen-sm-min) {
      font-size: 22px;
      line-height: 26px;
    }

    &:after {
      content: '';
      display: block;
      width: 90px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.modal-backdrop {
  background: $dark-color;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox {
  margin-bottom: 20px;

  input {
    display: none;

    &:checked {
      + label {
        span {
          background-color: $main-color;
          border-color: $main-color;

          i {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  label {
    margin: 0;
    cursor: pointer;
    user-select: none;

    span {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 2px solid $dark-color;
      margin-right: 15px;
      margin-top: 1px;
      position: relative;
      @include transition;

      i {
        @include center;
        opacity: 0;
        visibility: hidden;
        color: #fff;
        font-size: 17px;
        line-height: 19px;
        @include transition;
      }
    }

    em {
      display: block;
      font-style: normal;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: $dark-color;
      flex: 1;

      a {
        color: $main-color;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.error-page-wrapper {
  @include center;
  text-align: center;
  width: 1110px;

  @media (max-width: $screen-lg-max) {
    width: 100%;
  }

  @media (max-width: $screen-md-min) {
    padding: 50px 0;
  }

  @media (max-width: $screen-sm-min) {
    @include reset-position;
  }

  @media (max-height: 768px) {
    @include reset-position;
    padding: 50px 0;
    margin: 0 auto;
  }

  span {
    display: block;
    font-size: 80px;
    line-height: 82px;
    color: $dark-color;
    margin-bottom: 30px;

    @media (max-width: $screen-lg-min) {
      font-size: 50px;
      line-height: 52px;
    }

    @media (max-width: $screen-sm-min) {
      font-size: 36px;
      line-height: 38px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $dark-color;
    margin: 0;

    a {
      color: $main-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  mark {
    display: block;
    padding: 0;
    background: none;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: $dark-color;
  }
}

.offer-title {
  margin-bottom: 80px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 40px;
  }

  &.offer-title-top {
    padding-top: 45px;

    @media (max-width: $screen-sm-max) {
      padding-top: 0;
    }

    span {
      font-size: 40px;
      line-height: 42px;

      &:after {
        left: 0;
        transform: none;
      }
    }
  }

  &.offer-title-center {
    display: inline-block;
    min-width: 355px;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      display: block;
      width: 100%;
      min-width: inherit;
    }
  }

  span {
    display: inline-block;
    font-size: 32px;
    line-height: 34px;
    //font-weight: 700;
    text-transform: uppercase;
    position: relative;

    @media (max-width: $screen-sm-max) {
      br {
        display: none;
      }
    }

    &.main-color {
      color: $main-color;

      &:after {
        background-color: $main-color;
      }
    }

    &.dark-color {
      color: $dark-color;

      &:after {
        background-color: $dark-color;
      }
    }

    &.white-color {
      color: #fff;

      &:after {
        background-color: #fff;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 88px;
      height: 2px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@-moz-document url-prefix() {
  .videoWrapper {
    padding: 0;
    height: 400px;

    iframe {
      @include reset-position;
      width: 100%;
    }
  }
}

.progress-btn {
  display: block;
  padding: 0;
  outline: none !important;
  height: 40px;
  min-width: 90px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  text-align: center;
  position: relative;
  @include transition;
  
  &.main-color-btn {
    background: $main-color;
    
    &:hover {
      background: $dark-color;
    }
  }

  span {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    white-space: nowrap;
    @include transition;
  }

  &.active {
    min-width: 50px;

    span {
      opacity: 0;
    }

    .circle-loader {
      opacity: 1;
      visibility: visible;
      animation: dash 2s ease infinite,
      rotate 2s linear infinite;
    }
  }

  .circle-loader {
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: 5px;
    left: calc(50% - 15px);
    fill: transparent;
    stroke: #eee;
    stroke-width: 3;
    opacity: 0;
    visibility: hidden;
  }
}

.loading {
  position: relative;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: transparent;
  fill: transparent;
  stroke: $dark-color;
  stroke-width: 3;
  opacity: 1;
  visibility: visible;
  animation: dash 2s ease infinite, rotate 2s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,95;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 85,95;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 85,95;
    stroke-dashoffset: -93;
  }
}

@keyframes rotate {
  0% {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}