@import "variables";
@import "header";
@import "footer";

.about-top-section {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .001));
  }

  .about-wrapper {
    padding-top: 90px;
    background-color: $dark-color;

    @media (max-width: $screen-sm-max) {
      padding-top: 30px;
    }

    .help-title {
      padding-top: 0;
    }

    .about-info {
      p {
        color: #fff;

        &.lg-text {
          font-size: 22px;
          line-height: 29px;
        }

        &.sm-text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .about-img {
    margin-top: -11%;
    width: 100%;

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
    }
  }
}

.about-info-section {
  padding: 20px 0 100px 0;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0;
  }

  .about-row {
    margin-bottom: 60px;
    background-repeat: no-repeat;
    padding-top: 90px;

    @media (max-width: $screen-sm-max) {
      background: none !important;
      padding-top: 0;
    }

    &.left-img {
      background-position: 0 0;
    }

    &.right-img {
      background-position: 100% 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: $dark-color;
      text-align: justify;
      margin: 0;
    }
  }
}

.about-heading {
  text-align: center;
  margin-bottom: 55px;

  .about-icon {
    height: 75px;
    margin: 0 auto 20px auto;

    img {
      max-height: 100%;
    }
  }

  span {
    display: block;
    font-size: 40px;
    line-height: 43px;
    //font-weight: 700;
    text-transform: uppercase;
    color: $dark-color;
    position: relative;

    @media (max-width: $screen-sm-max) {
      font-size: 30px;
      line-height: 33px;

      br {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 88px;
      height: 3px;
      background-color: $main-color;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
    }
  }
}