@import "variables";
@import "header";
@import "dashboard-sidebar";
@import "dashboard-header";
@import "modals";

.dashboard-wrapper {
  @media (max-width: $screen-sm-min) {
    overflow: hidden;
    position: relative;
  }

  .dashboard-container {
    padding-left: 335px;
    width: 100%;
    transition: all .5s ease-in-out;

    @media (max-width: 1280px) {
      padding-left: 80px;
    }

    @media (max-width: $screen-sm-min) {
      padding-left: 60px;
    }

    &.container-lg {
      padding-left: 80px;

      @media (max-width: $screen-sm-min) {
        padding-left: 60px;
      }

      .header-dashboard {
        @media (max-width: 1280px) {
          padding: 0 15px;
        }
      }
    }

    .header-dashboard {
      height: 99px;
      width: 100%;
      background-color: $dark-color;
      padding: 0 60px;
      transition: all .5s ease-in-out;

      @media (max-width: 1280px) {
        padding: 0 15px 0 265px;
        height: 65px;
      }

      @media (max-width: $screen-lg-min) {
        padding: 0 15px 0 210px;
      }

      @media (max-width: $screen-md-min) {
        justify-content: flex-end !important;
      }

      @media (max-width: $screen-sm-min) {
        padding: 0 15px;
      }

      .main-nav {
        padding: 0;

        @media (max-width: $screen-md-min) {
          padding: 64px 0 15px 0;
        }

        ul {
          li {
            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .dashboard-wrapper {
      padding: 60px;

      @media (max-width: 1280px) {
        padding: 43px 15px;
      }

      @media (max-width: $screen-lg-min) {
        padding: 15px;
      }

      .dashboard-top-heading {
        margin-bottom: 70px;

        @media (max-width: $screen-lg-min) {
          margin-bottom: 30px;
        }

        .heading {
          @media (max-width: $screen-lg-min) {
            margin-bottom: 20px;
          }

          h2 {
            margin: 0;
            font-size: 30px;
            line-height: 32px;
            //font-weight: 700;
            color: $main-color;
            text-transform: uppercase;

            @media (max-width: $screen-sm-min) {
              font-size: 24px;
              line-height: 26px;
            }
          }

          p {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
            color: $dark-color;
          }
        }

        .dashboard-btn-create {
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
          color: $main-color;

          @media (max-width: $screen-sm-min) {
            min-width: inherit;
            padding: 15px 0;
            font-size: 14px;
            line-height: 16px;
          }

          &:hover {
            color: $dark-color;
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
    }
  }
}

.dashboard-row {
  padding-bottom: 70px;

  @media (max-width: $screen-lg-min) {
    padding-bottom: 30px;
  }

  &.dashboard-change-pass-row {
    @media (max-width: $screen-md-min) {
      .profile-details-row input {
        margin-bottom: 0;
      }

      .button-wrapper {
        margin-bottom: 15px !important;
      }
    }
  }

  .investment-board {
    padding: 0;
  }

  &:first-child {
    padding-top: 70px;
  }

  &:last-child {
    padding: 0;
  }

  .dashboard-repeat-title {
    margin-bottom: 30px;

    h3 {
      font-size: 24px;
      line-height: 26px;
      //font-weight: 700;
      color: $dark-color;
      text-transform: uppercase;
      margin: 0 0 10px 0;

      @media (max-width: $screen-sm-min) {
        font-size: 20px;
        line-height: 22px;
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      line-height: 26px;
      //font-weight: 700;
      color: $dark-color;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      @media (max-width: $screen-sm-min) {
        font-size: 20px;
        line-height: 22px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        color: #000;
      }
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      color: $dark-color;
    }
  }
}

.table-wrapper {
  overflow: auto;

  &.table-wrapper-profile {
    margin-bottom: 15px;
  }
}

.db-load-more {
  font-size: 16px !important;
  line-height: 18px !important;
  margin-top: 35px;
  padding: 0 !important;
  border: none !important;
  font-weight: normal !important;
  
  &:hover {
    background: none !important;
    color: $main-color !important;
  }

  @media (max-width: $screen-sm-min) {
    min-width: inherit;
  }
}

.dashboard-table {
  width: 100%;

  @media (max-width: 1024px) {
    width: 1200px;
  }

  th, td {
    padding: 13px 15px;
    border: 1px solid #b7b7b7;

    .checkbox {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;

      label {
        span {
          margin: 0 auto;
        }
      }
    }
  }

  thead {
    background-color: #d7d7d7;

    th {
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: $dark-color;

      /*&:first-child {
        border-radius: 5px 0 0 0;
      }

      &:last-child {
        border-radius: 0 5px 0 0;
      }*/

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 25px;
        line-height: 25px;
        color: #b72e00;
      }
    }
  }

  tbody {
    tr {
      td {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        color: #000;
        //vertical-align: top;

        .pay-apply-button {
          display: inline-block;
          font-size: 16px;
          line-height: 18px;
          //font-weight: 700;
          color: $main-color;
          text-decoration: underline;
          text-transform: uppercase;
          outline: none !important;

          &:hover {
            text-decoration: none;
          }
        }

        .pdf-button {
          display: inline-block;
          vertical-align: middle;
          color: $main-color;
          font-size: 35px;
          line-height: 35px;
          margin: 0 7px 0 -7px;
          @include transition;

          &:hover {
            opacity: .8;
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
          margin-right: 35px;
        }

        /*&:first-child {
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: $dark-color;
          }
        }

        &:last-child {
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
            background-color: $dark-color;
          }
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          background-color: $dark-color;
        }*/
      }
    }
  }
}

.table-link {
  color: $main-color;
  text-decoration: underline;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.control-buttons {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  line-height: 25px;
  margin: 0 5px;
  @include transition;

  &:hover {
    opacity: .8;
  }

  &.edit {
    color: $main-color;
  }

  &.delete {
    color: #b72e00;
  }
}

.dashboard-profile-table {
  overflow: auto;
  margin-bottom: 15px;
}

.invest-profiles-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: inherit;

  @media (max-width: $screen-md-min) {
    width: 700px;
  }

  tr {
    &:first-child {
      td {
        &:first-child {
          border-radius: 5px 0 0 0;
        }

        &:last-child {
          border-radius: 0 5px 0 0;
        }
      }
    }

    &:last-child {
      td {
        border-bottom: 2px solid $dark-color;

        &:first-child {
          border-radius: 0 0 0 5px;
        }

        &:last-child {
          border-radius: 0 0 5px 0;
        }
      }
    }

    td {
      border: 2px solid $dark-color;
      border-bottom: none;
      border-right: none;
      padding: 15px;
      font-size: 16px;
      line-height: 18px;
      color: $dark-color;

      @media (max-width: $screen-md-max) {
        width: auto !important;
      }

      &:last-child {
        border-right: 2px solid $dark-color;
        text-align: center;
      }

      &.wholesale-investor {
        background-color: #c69c6d;
        color: #fff;
      }

      p {
        margin: 0;
      }
    }
  }
}

.profile-status {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  //font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 0 !important;

  i {
    display: inline-block;
    vertical-align: middle;
    color: $main-color;
    font-size: 20px;
    line-height: 22px;
    margin-left: 5px;
  }
}

.back-button {
  display: inline-block;
  font-size: 30px;
  line-height: 32px;
  color: $main-color;
  text-transform: uppercase;
  @include transition;

  @media (max-width: $screen-sm-min) {
    font-size: 15px;
    line-height: 17px;
  }

  &:hover {
    text-decoration: none;
    color: $dark-color;

    i {
      color: $main-color;
    }
  }
  
  i {
    display: inline-block;
    vertical-align: middle;
    color: $dark-color;
    font-size: 24px;
    line-height: 25px;
    margin-top: -4px;
    @include transition;
  }
}

.profile-text {
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 18px;
  color: $dark-color;
  text-indent: 15px;
  
  &.indent-none {
    text-indent: 0;
  }

  a {
    color: $main-color;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.profile-details-row {

    [class*='col-'] {
      margin-bottom: 40px;
    }


  .note-text {
    font-size: 16px;
    line-height: 22px;
    color: $dark-color;
    margin: 0;
    text-align: justify;
  }

  .correct {
    input, select {
      border-color: $main-color;
      color: $main-color;
    }
  }

  .error {
    input {
      border-color: #f33;
      color: #f33;
    }

    label {
      color: #f33;
    }
  }

  label {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    padding-left: 15px;
    top: -25px;
    transform: none;
    position: absolute;

    @media (max-width: $screen-sm-min) {
      //padding: 0;
    }
  }

  .profile-detail-input {
    position: relative;
    //margin-bottom: 40px;

    label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      @include transition;
    }
  }

  input {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #9aa9b8;
    padding: 13px 15px;
    font-size: 18px;
    line-height: 20px;
    background: none;
    //font-weight: 700;
    outline: none;
    color: $dark-color;

    &:focus + label,
    &.active + label {
      top: -25px;
      transform: none;
      font-size: 16px;
      line-height: 18px;
    }
    
    &[type='date'] {
      padding: 10px 35px 10px 15px;
      background: url('../images/calendar-icon.png') no-repeat 96% 50%;
    }
  }

  select {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #9aa9b8;
    padding: 5px 20px 5px 11px;
    font-size: 18px;
    line-height: 20px;
    outline: none;
    color: $dark-color;
    background: url('../images/arrow-icon.png') no-repeat 98% 50%;
  }
}

.button-wrapper {
  margin-top: 28px;

  .progress-btn {
    width: 100%;
    height: 44px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;

    span {
      font-size: 16px;
      line-height: 18px;
    }

    .circle-loader {
      top: 8px;
    }

    &.active {
      width: 130px;
    }
  }
}

.advisor-row {
  .advisor-info {
    padding: 0 15px;

    @media (max-width: $screen-sm-min) {
      padding: 0;
    }

    .advisor-info-row {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-size: 16px;
        line-height: 21px;
        color: $dark-color;
        margin-bottom: 10px;

        span {
          color: $main-color;
        }

        a {
          color: $main-color;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.upload-file-wrapper {
  p {
    font-size: 16px;
    line-height: 20px;
    color: $dark-color;
    margin: 0;
    padding: 0 10px;

    @media (max-width: $screen-sm-min) {
      padding: 0;
    }

    a {
      color: $main-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .upload-file {
    position: relative;
    margin-bottom: 10px;

    .btn-repeat {
      width: 100%;
      background-color: $main-color;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
      padding: 12px 20px;
      position: relative;
      border-radius: 5px;
    }

    .file {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 10;

      &:hover {
        + .btn-repeat {
          background-color: $dark-color;
        }
      }
    }
  }
}

.row-invite-friends {
  margin-top: 30px;

  .friends-list {
    border: 1px solid #9aa9b8;
    border-radius: 5px;
    padding: 11px 15px 0 15px;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-min) {
      padding: 15px;
    }

    span {
      display: block;
      margin-right: 30px;
      font-size: 16px;
      line-height: 18px;
      color: $dark-color;
      margin-bottom: 10px;
      white-space: nowrap;

      @media (max-width: $screen-sm-min) {
        margin-top: 5px;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        line-height: 20px;
        color: #000;
        margin-left: 10px;
        @include transition;

        @media (max-width: $screen-sm-min) {
          margin-left: 2px;
        }
        
        &:hover {
          color: #f33;
        }
      }
    }
  }
}

.row-notifications {
  margin-bottom: 80px;

  @media (max-width: $screen-sm-min) {
    margin-bottom: 30px;
  }

  mark {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: $dark-color;
    margin-bottom: 20px;
    padding: 0;
    background: none;

    @media (max-width: $screen-sm-min) {
      margin-bottom: 10px;
    }
  }

  .checkbox {
    input{
      &:checked {
        + label {
          span {
            background-color: #000;
            border-color: #000;
          }
        }
      }
    }

    label {
      em {
        font-size: 18px;
        line-height: 20px;
        //font-weight: 700;
        color: $dark-color;
      }
    }
  }
}

// investment profile

.dashboard-investment-row {
  //margin-bottom: 50px;
}

.invest-title {
  display: block;
  font-size: 24px;
  line-height: 26px;
  color: $dark-color;
  text-transform: uppercase;
  margin-bottom: 50px;
  
  span {
    color: $main-color;
  }
}

.dashboard-investment-profile {
  .select-iprofile {

  }

  .investment-details {
    .investment-details-row {
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }

      span, mark {
        display: block;
        font-size: 16px;
        line-height: 18px;
        color: #000;
      }

      mark {
        padding: 0;
        background: none;
        color: $main-color;
      }
    }
  }
}

.dashboard-steps-wrapper {
  padding: 20px 45px;
  background-color: #ebebeb;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;

  @media (max-width: $screen-md-min) {
    padding: 20px 15px;
  }

  @media (max-width: $screen-sm-min) {
    padding: 20px 0;
  }
}

.dashboard-investment-steps {
  position: relative;

  .progress-wrapper {
    width: 100%;
    height: 4px;
    background-color: $dark-color;
    position: absolute;
    top: 10px;
    left: 0;
    
    .progress-line {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $main-color;
    }
  }

  .step-col {
    text-align: center;
    position: relative;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    
    &:first-child {
      .circle-wrapper {
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          right: 48px;
          width: 200px;
          height: 8px;
          background-color: #ebebeb;
        }
      }
    }

    &:last-child {
      .circle-wrapper {
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          left: 48px;
          width: 200px;
          height: 8px;
          background-color: #ebebeb;
        }
      }
    }

    &.completed {
      .circle-wrapper {
        .circle {
          border-color: $main-color;
          background-color: $main-color;

          em {
            display: none;
          }

          i {
            display: block;
          }
        }
      }
    }

    &.active {
      .circle-wrapper {
        .circle {
          border-color: $dark-color;

          em {
            color: $dark-color;
          }
        }
      }

      span {
        color: $dark-color;
      }
    }

    .circle-wrapper {
      width: 52px;
      margin: 0 auto;
      background-color: #ebebeb;
      position: relative;

      @media (max-width: $screen-sm-min) {
        width: 40px;
      }

      .circle {
        margin: 0 auto 10px auto;
        width: 24px;
        height: 24px;
        border: 2px solid #999;
        border-radius: 50%;

        em {
          display: block;
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
          color: #999;
          font-style: normal;
        }

        i {
          display: none;
          color: #fff;
          line-height: 22px;
        }
      }

    }

    span {
      display: block;
      font-size: 18px;
      line-height: 20px;
      color: #999;
      text-transform: uppercase;

      @media (max-width: $screen-md-min) {
        font-size: 12px;
        line-height: 14px;
      }

      @media (max-width: $screen-md-min) {
        display: none;
      }
    }
  }
}

.hint-wrapper {
  border-radius: 5px;
  background-color: $dark-color;
  padding: 20px;
  margin-bottom: 40px;

  @media (max-width: $screen-md-min) {
    padding: 10px 15px;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #fff;

    @media (max-width: $screen-md-min) {
      font-size: 14px;
    }
  }

  span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $main-color;
  }
}

.dashboard-steps-row {
  margin: 30px 0;

  &.verify-container,
  &.politically-exposed-container {
    display: none;
  }

  h3 {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $dark-color;
    margin: 0 0 20px 0;

    i {
      font-weight: 600;
      text-decoration: underline;
      font-style: normal;
    }
  }

  .dashboard-investment-row {
    margin-top: 35px;
    
    &.grey-bg {
      padding: 15px;
      background-color: #ebebeb;
    }

    &:last-child {
      margin-top: 0;
    }
  }
}
.upload-input-wrapper {
  max-width: 700px;
  margin-bottom: 15px;

  .uploads-container {
    display: block;
    width: 100%;
    height: 44px;
    border: 1px solid $main-color;
    border-right: none;
    border-radius: 5px 0 0  5px;
    outline: none;
    padding: 15px;
    background: #fff !important;
  }

  .file {
    width: 250px;
    height: 44px;
    position: relative;

    &:hover {
      span {
        background-color: $dark-color;
      }
    }

    input[type='file'] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 20;
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 44px;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      z-index: 10;
      cursor: pointer;
      background-color: $main-color;
      border-radius: 0 5px 5px 0;
      @include transition;
    }
  }
}

.row-checkbox-terms {
  margin-top: 40px;

  .checkbox {
    input{
      &:checked {
        + label {
          span {
            background-color: #000;
            border-color: #000;
          }
        }
      }
    }

    label {
      em {
        font-size: 18px;
        line-height: 20px;
        //font-weight: 700;
        color: $dark-color;
      }
    }
  }
}

.download-form-button {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid $main-color;
  padding: 10px 20px;
  white-space: nowrap;
  text-decoration: none;
  @include transition;

  @media (max-width: $screen-sm-min) {
    padding: 10px;
    text-align: center;
    white-space: normal;
  }
  
  &:hover {
    background-color: $main-color;
    text-decoration: none !important;
    
    span {
      color: #fff;
    }
    
    i {
      color: #fff;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $main-color;
    @include transition;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    color: $main-color;
    font-size: 25px;
    line-height: 25px;
    @include transition;
  }
}

.make-app-top {
  border-radius: 5px;
  background-color: #def5f6;
  padding: 50px;
  margin-bottom: 50px;

  @media (max-width: $screen-lg-min) {
    padding: 50px 15px;
  }

  .offer-title {
    padding: 0 !important;
    margin: 0 !important;

    @media (max-width: $screen-lg-min) {
      margin: 0 0 30px 0 !important;
    }
  }

  .investment-board-right {
    @media (max-width: $screen-lg-min) {
      margin-bottom: 30px;
    }

    .status {
      margin-bottom: 5px;

      em {
        color: $dark-color;
      }
    }
    
    .date {
      margin-bottom: 0;

      .date-col {
        i {
          color: $dark-color;
        }
      }
    }
  }

  .make-app-text {
    @media (max-width: $screen-lg-min) {
      margin-bottom: 30px;
    }

    span {
      display: block;
      font-size: 18px;
      line-height: 20px;
      color: $dark-color;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      color: $dark-color;
      margin: 0;
    }
  }
}

.closing-soon {
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  white-space: nowrap;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  background-color: #d45155;
  color: #fff;
  @include transition;
  
  &:hover {
    background-color: transparent;
    border-color: $dark-color;
    color: $dark-color;
  }
}

.make-app-steps {
  .step-title {
    display: block;
    font-size: 24px;
    line-height: 26px;
    color: $dark-color;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width: $screen-sm-min) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .table-wrapper-profile {
    margin-bottom: 60px;
  }

  h3 {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $dark-color;
    margin: 40px 0 20px 0;
  }
}

.make-app-hint {
  background-color: #def5f6;
  padding: 40px 15px;
  margin-bottom: 20px;

  @media (max-width: $screen-sm-min) {
    padding: 15px;
  }

  &.bg-none {
    background: none;
  }

  p {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: $dark-color;
    margin: 0;

    @media (max-width: $screen-sm-min) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.terms-container {
  background-color: $main-color;
  border-radius: 5px;
  padding: 40px 15px;

  @media (max-width: $screen-sm-min) {
    padding: 15px 0;
  }

  .terms-wrapper {
    max-width: 600px;
    margin: 0 auto;

    .terms-row {
      padding: 10px 25px 10px 70px;
      border-radius: 5px;
      margin: 5px 0;

      @media (max-width: $screen-sm-min) {
        padding: 10px 15px 10px 35px;
        border-radius: 0;
      }
      
      &.error {
        background-color: #def5f6;
        position: relative;

        &:before {
          content: '!';
          display: block;
          width: 28px;
          height: 28px;
          background-color: #d45155;
          border-radius: 50%;
          color: #ffffa6;
          text-align: center;
          line-height: 28px;
          font-size: 20px;
          left: 25px;
          @include center-vertical;

          @media (max-width: $screen-sm-min) {
            width: 20px;
            height: 20px;
            line-height: 20px;
            left: 8px;
            font-size: 18px;
          }
        }

        p {
          color: $dark-color;
        }

        .checkbox-container {
          .checkbox {
            label {
              span {
                background-color: $dark-color;
                border-color: $dark-color;

                i {
                  color: #fff;
                }
              }
            }
          }

          i {
            color: $main-color;
          }
        }
      }

      p {
        font-size: 24px;
        line-height: 26px;
        color: #fff;
        flex: 1;
        margin: 0;

        @media (max-width: $screen-sm-min) {
          font-size: 14px;
          line-height: 20px;
        }
        
        span {
          text-decoration: underline;
        }

        a {
          color: #fff;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .checkbox-container {
        width: 100px;

        @media (max-width: $screen-sm-min) {
          width: 45px;
        }

        .checkbox {
          margin: 0;

          label {
            span {
              margin: 0;
              background-color: #fff;
              border-color: #fff;
              
              i {
                color: $main-color;
              }
            }
          }
        }
        
        > i {
          display: block;
          color: #fff;
          font-size: 40px;
          line-height: 40px;

          @media (max-width: $screen-sm-min) {
            font-size: 20px;
            line-height: 20px;

          }
        }
      }
    }
  }
}

.amount-wrapper {
  background-color: #00b3b7;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 70px;

  @media (max-width: $screen-md-min) {
    padding: 15px;
  }

  .amount-left {
    @media (max-width: $screen-lg-min) {
      margin-bottom: 30px;
    }

    span {
      display: block;
      font-size: 24px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 10px;
    }

    .input-wrap {
      position: relative;
      margin-right: 20px;
    }

    mark {
      display: block;
      background: none;
      padding: 0;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
    }
  }

  .amount-right {
    .amount-right-row {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    span {
      display: block;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
    }

    mark {
      display: inline-block;
      padding: 0;
      background: none;
      font-size: 18px;
      line-height: 20px;
      color: #ffffa6;
    }
  }
}

.submit-message {
  max-width: 600px;
  margin: 0 auto 50px auto;
  text-align: center;

  span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
    color: $dark-color;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    color: $dark-color;
    margin: 0 0 10px 0;

    &:last-child {
      margin: 0;
    }
  }
}

/*
.cntr {
  text-align: center;
  height: 21px;

  .btn-radio {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    height: 21px;

    svg {
      fill: none;
      vertical-align: middle;

      circle {
        stroke-width: 2;
        stroke: #b7b7b7;
      }

      path {
        stroke: $main-color;

        &.inner {
          stroke-width: 6;
          stroke-dasharray: 19;
          stroke-dashoffset: 19;
        }

        &.outer {
          stroke-width: 2;
          stroke-dasharray: 57;
          stroke-dashoffset: 57;
        }
      }
    }

    input {
      display: none;

      &:checked + svg path {
        transition: all 0.4s ease;

        &.inner {
          stroke-dashoffset: 38;
          transition-delay: 0.3s;
        }

        &.outer {
          stroke-dashoffset: 0;
        }
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

  }
}*/
