@import "variables";
@import "header";
@import "footer";

.homepage-main {
  margin: 0;
}

.hero-banner {
  min-height: 505px;
  width: 100%;
  background: url("../images/hero-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;

  @media (max-width: $screen-sm-min) {
    min-height: 365px;
  }

  .wrapper {
    h1 {
      display: block;
      font-size: 37px;
      line-height: 39px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      margin: 0 0 35px 0;

      @media (max-width: $screen-sm-min) {
        font-size: 33px;
        line-height: 36px;
      }

      @media (max-width: 480px) {
        br {
          display: none;
        }
      }
    }
  }

  &.hero-banner-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 130px 0 50px 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 160px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    }
  }
}

.investment-board {
  padding-top: 100px;

  @media (max-width: $screen-md-min) {
    padding-top: 30px;
  }

  .investment-board-container {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;

      .investment-board-row {
        &:last-child {
          border-bottom: none;

          @media (max-width: $screen-sm-min) {
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }

    .investment-board-heading {
      margin-bottom: 50px;
      background: url('../images/repeat-line.png') repeat-x 50% 50%;
      text-align: center;

      @media (max-width: $screen-md-min) {
        margin-bottom: 30px;
      }

      h2 {
        display: inline-block;
        padding: 0 30px;
        background-color: #fff;
        text-transform: uppercase;
        color: $dark-color;
        font-size: 20px;
        line-height: 22px;
        margin: 0;

        @media (max-width: $screen-sm-min) {
          padding: 0 10px;
        }

        mark {
          background: none;
          padding: 0;
          color: $main-color;
        }

        em {
          font-weight: 900;
          color: $main-color;
          font-style: normal;
          font-size: 21px;
          line-height: 23px;
        }
      }
    }

    .investment-board-row {
      margin-bottom: 22px;
      padding-bottom: 22px;
      border-bottom: 1px solid #dedfe0;

      .investment-board-left {
        position: relative;
        margin-bottom: 23px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: -14px;
          height: 100%;
          width: 1px;
          background-color: #dedfe0;

          @media (max-width: $screen-md-min) {
            display: none;
          }
        }

        span {
          display: block;
          color: $dark-color;
          font-size: 16px;
          line-height: 18px;
          font-weight: 900;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        p {
          font-size: 16px;
          line-height: 20px;
          margin: 0;
        }
      }

      .investment-board-right {
        @media (max-width: $screen-md-min) {
          margin-top: 20px;
        }

        .status {
          display: block;
          font-size: 18px;
          line-height: 20px;
          text-transform: uppercase;
          font-weight: 900;
          margin-bottom: 10px;

          &.status-closes {
            color: $dark-color;
          }

          &.status-opens {
            color: $main-color;

            em {
              color: #000;
            }
          }

          em {
            font-size: 16px;
            line-height: 18px;
            color: $main-color;
            font-style: normal;
            font-weight: 300;
            margin-left: 7px;
          }
        }

        .date {
          margin-bottom: 20px;
          .date-col {
            margin-right: 30px;
            text-align: center;

            &:last-child {
              margin-right: 0;
            }

            mark {
              display: block;
              padding: 0;
              background: none;
              font-size: 48px;
              line-height: 50px;
              color: $dark-color;
              margin-bottom: 5px;
            }

            i {
              display: block;
              font-style: normal;
              font-size: 20px;
              line-height: 22px;
              color: $main-color;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.button-wrap {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  .see-all-offers {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: $main-color;
  }

  .see-all-upcoming {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $main-color;
  }
}

.accessible-investments-container {
  .before-img {
    position: relative;
    z-index: -1;
    margin-top: -110px;
    width: 100%;

    @media (max-width: 1400px) {
      margin-top: -70px;
    }

    @media (max-width: $screen-lg-min) {
      margin-top: 0;
    }
  }

  .after-img {
    position: relative;
    z-index: -1;
    width: 100%;

    @media (max-width: 650px) {
      margin-top: -15px;
    }
  }

  .accessible-investments-section {
    background-color: $main-color;
    position: relative;
    padding-top: 50px;

    .accessible-col {
      text-align: center;
      padding: 0 30px;

      .accessible-icon {
        min-height: 65px;
        margin-bottom: 25px;

        img {
          height: 65px;
        }
      }

      figcaption {
        span {
          display: block;
          font-size: 16px;
          line-height: 18px;
          font-weight: 700;
          color: $dark-color;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        p {
          font-size: 16px;
          line-height: 20px;
          color: #fff;
        }
      }
    }
  }
}

.investment-platform {
  padding: 50px 0 100px 0;

  @media (max-width: $screen-sm-max) {
    padding: 30px 0;
  }

  .investment-platform-col {
    .investment-platform-image {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        opacity: .5;
        border-radius: 50%;
      }

      img {
        border-radius: 50%;

        @media (max-width: $screen-sm-max) {
          width: 100%;
        }
      }
    }

    &.investment-platform-col-right {
      padding-top: 100px;
      position: initial;

      @media (max-width: $screen-sm-max) {
        padding-top: 30px;
      }

      .repeat-heading {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: $screen-sm-max) {
          @include reset-position;
        }
      }
    }

    .investment-platform-description {
      padding-top: 130px;

      @media (max-width: $screen-sm-max) {
        padding-top: 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: $dark-color;
      }
    }
  }
}