@import "variables";
@import "header";
@import "footer";

.login-main {
  background: #f5f5f5 url("../images/login-bg.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  //padding: 1px 15px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.001));
  }
}

.login-wrapper {
  max-width: 410px;
  margin: 100px auto 100px auto;
  border: 2px solid $main-color;
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 45px;
  position: relative;

  @media (max-width: $screen-sm-min) {
    padding: 25px;
  }

  .login-title {
    position: absolute;
    top: -15px;
    left: 35px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: $main-color;
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 0 10px;

    @media (max-width: $screen-sm-min) {
      left: 15px;
      font-size: 21px;
    }
  }

  h3, p {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: $dark-color;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 35px 0;
    font-weight: 300;
    text-transform: none;
  }

  .login-form-row {
    margin-bottom: 30px;
    position: relative;

    &.form-textarea {
      label {
        top: 10px;
        transform: none;
      }
    }

    label {
      display: block;
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      color: $dark-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      @include transition;
    }

    input, textarea {
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
      padding: 10px;
      font-size: 18px;
      line-height: 20px;
      color: $dark-color;

      &:focus + label {
        top: -20px;
        transform: none;
        font-size: 14px;
        line-height: 16px;
      }

      &.border-main-color {
        border: 1px solid $main-color;
      }

      &.border-error {
        border: 1px solid #d45155;
      }
    }

    textarea {
      height: 150px;
      resize: none;
    }
  }

  .login-form-buttons {

    @media (max-width: $screen-sm-min) {
      display: block !important;
      text-align: center;
    }

    a {
      display: block;
      text-decoration: underline;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: $main-color;

      @media (max-width: $screen-sm-min) {
        margin-bottom: 20px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    input {
      display: block;
      min-width: 90px;
      height: 40px;
      border-radius: 30px;
      background-color: $main-color;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 15px;
      font-weight: 700;
      border: none;
      cursor: pointer;
      outline: none;
      @include transition;

      @media (max-width: $screen-sm-min) {
        margin: 0 auto;
      }

      &:hover {
        background-color: $dark-color;
      }
    }
  }
}

.signup-wrapper {
  max-width: 730px;
  margin: 100px auto 100px auto;

  .login-wrapper {
    margin: 0;
    width: 100%;
    max-width: inherit;
  }

  .checkbox {
    margin-bottom: 40px;
  }

  p {
    font-size: 11px;
    line-height: 18px;
    color: $dark-color;
    margin: 0;
    text-align: justify;
    padding: 40px 45px;

    @media (max-width: $screen-sm-min) {
      padding: 20px 0;
    }
  }
}

.hint-alerts {
  position: fixed;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  z-index: 100;

  @media (max-width: $screen-lg-min) {
    top: 95px;
  }

  @media (max-width: $screen-sm-min) {
    width: calc(100% - 30px);
  }

  @media (max-width: $screen-md-min) {
    top: 80px;
  }

  &.error {
    background-color: #d45155;
  }

  mark {
    display: block;
    background: none;
    padding: 0;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
  }
}

.contact-section {
  margin-top: -90px;
}

.contact-wrapper {
  max-width: 700px;
  margin: 20px auto 75px auto;

  .login-wrapper {
    padding: 30px;
  }
}

.contact-info {
  max-width: 375px;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 16px;
    line-height: 24px;
    color: $dark-color;
    margin: 0 0 30px 0;
  }

  .contact-row {
    max-width: 220px;
    margin: 0 auto 25px auto;

    span {
      display: block;
      font-size: 16px;
      line-height: 18px;
      color: $dark-color;
      
      a {
        color: $main-color;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
    
    i {
      display: block;
      margin-right: 15px;
      width: 20px;
      font-size: 20px;
      line-height: 20px;
      color: $dark-color;
    }
  }
}