@import "variables";
@import "header";
@import "footer";

.privacy-terms-wrapper {
  padding: 70px 0;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0;
  }

  .title {
    display: block;
    margin: 0 0 25px 0;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    color: $dark-color;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $dark-color;
    margin-bottom: 30px;

    @media (max-width: $screen-sm-min) {
      margin-bottom: 15px;
    }

    a {
      color: $main-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  ol {
    counter-reset: item;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;

    @media (max-width: $screen-sm-min) {
      margin: 0;
    }

    li {
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      color: $dark-color;

      a {
        color: $main-color;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        font-weight: 700;
      }

      ol {
        @media (max-width: $screen-sm-min) {
          margin: 0 0 0 10px;
        }

        li {
          font-size: 16px;
          line-height: 24px;
          color: $dark-color;
          font-weight: 400;
          margin-bottom: 30px;

          @media (max-width: $screen-sm-min) {
            margin-bottom: 15px;
          }

          ol {
            li {
              margin-bottom: 0;

              span {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    ol li ol {
      li {
        &:before {
          display: none;
        }
      }
    }
  }
}